.App {
  text-align: center;
}

.main-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  margin: 8px 0;
  transition: all 0.2s ease-in-out;
}

li.complete:hover {
  opacity: 1;
}

button {
  cursor: pointer;
}
